h1, h2, h3, h4, h5, h6, h7, h8 {
  margin: 0;
  font-weight: normal;
}

input {
  box-shadow: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: initial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  text-align: left;
  display: block;
}

p {
  padding: 0;
  margin: 0;
}
